* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  text-transform: capitalize;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in;
}
:root {
  --yellow: #f9ca24;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}
html {
  background-color: rgb(31, 30, 30);
  color: white;
  font-size: 62%;
}
html a {
  color: white;
  text-decoration: none;
  display: block;
  /* padding: 20px; */
}
*::selection {
  background-color: var(--yellow);
}
/* meida querue */
.portofolio-item a {
  padding: 15px;
  /* background-color: aqua; */
}
.project_subheading {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .container .portfolio-main {
    grid-column: 1/3;
    z-index: 10;
  }
  .about-item .btm {
    width: 40%;
    font-size: 12px;
  }
  /* heading */
  .heading .about-heading {
    font-size: 8vw;
    margin-left: 6rem;
  }
  /* home section */

  .portfolio-home,
  .home-heading {
    font-size: 25px;
    margin: 10px 0;
  }
  .portfolio-home .home-btm {
    width: 40%;
  }

  /* about section */
  .portfolio-about .about-item {
    font-size: 4vw;
  }

  /* education section */
  .portfolio-edu_item .tenth span {
    width: 30%;
    padding-left: 14px;
  }
  .portfolio-edu_item .tenth h4 {
    font-size: 22px;
  }

  /* .Skill */
  #Skill {
    grid-template-columns: repeat(2, 1fr);
  }
  .Project {
    padding-left: 10px;
  }

  /* contact section */
  .contact-info span {
    font-size: 5vw !important;
  }
  .contact-flex .contact-info {
    width: 100%;
  }
  .contact-flex .contact-form {
    width: 100%;
    margin: 0;
  }

  .socialsite .socialsite-icon > a {
    width: 75px;
    height: 75px;
  }

  .contact-flex .contact-form span {
    font-size: 5vw !important;
  }
  .contact-form .btm {
    width: 40%;
    font-size: 14px;
    margin-left: 1rem;
  }
}

/* start */
.container {
  display: grid;
  position: absolute;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  height: auto;
  width: 100%;
  background-color: #2d2e2e;
}
.portfolio-img {
  display: block;
  width: 25vh;
  border: 0.5vh solid var(--yellow);
  border-radius: 50%;
  height: 25vh;
  margin: auto;
  object-fit: cover;
}

.portfolio {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10%;
  text-align: center;
  float: left;
  left: 0;
  grid-column: 1/2;
}
.portfolio-h3,
.portfolio-p {
  color: white;
  display: block;
  text-align: center;
}
.portfolio-h3 {
  font-size: 4vh;
  padding: 1rem;
}
.portfolio-p {
  font-size: 2vh;
}
.portofolio-item {
  width: 100%;
  content: "\00bb";
  padding: 1rem;
  margin: 1rem 0rem;
  background-color: rgb(77, 74, 74);
  text-align: center;
  font-size: 15px;
  /* padding: 20px; */
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.portofolio-item:hover {
  background-color: var(--yellow);
  box-shadow: 10px solid white;
  margin-top: 0.5rem;
}

.portofolio-item:before {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 36vh;
  transition: 0.5s;
}

.portofolio-item:hover span {
  padding-right: 25px;
}

.portofolio-item:hover:after {
  opacity: 1;
  right: 0;
}
.portofolio-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  width: 80%;
  margin: auto;
  color: rgb(245, 248, 247);
}

/* main page or body page */

.portfolio-main {
  width: 100%;
  background-color: black;
  height: auto;
  display: flex;
  flex-direction: column;
  float: left;
  grid-column: 2/3;
}

.portfolio-main > p {
  padding: 4rem 0rem;
}

/* home section */
.portfolio-home {
  display: block;
  padding-left: 8rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}
.portfolio-home p {
  display: block;
  font-size: 28px;
  width: 70%;
}
.heading-pry {
  display: block;
  padding-top: 12vh;
  font-size: xx-large;
}
.portfolio-home span {
  font-size: xxx-large;
}
.home-name {
  font-size: xxx-large;
  color: var(--yellow);
}
.home-btm {
  padding: 10px;
  border-radius: 50px;
  border: none;
  margin-top: 50px;
  width: 200px;
  box-shadow: inset -12em 0 0 0 white;
  transition: 0.5s ease-in;
}
.home-btm > a {
  color: black;
  padding: 10px;
}
.home-btm > a:hover {
  color: white;
}
.home-btm:hover {
  /* background-color: var(--yellow); */
  color: white;
  position: relative;
  top: 2px;
  box-shadow: inset 20em 0 0 0 var(--yellow);
  transition: 0.5s ease-in;
}

.giflogo {
  width: 75%;
  margin-left: 20px;
}
/* about section */

.portfolio-about {
  display: block;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
}
.about-heading {
  display: block;
  font-size: 3.5vw;
  width: 100%;
  color: var(--yellow);
  text-align: left;
  padding: 3rem;
}
.about-heading::after {
  content: " me";
  color: white;
  text-transform: capitalize;
}
.about-item {
  display: flex;
  width: 60%;
  font-size: 1.7vw;
  margin: 16rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  padding: 6rem 0rem;
}
/* .about-item span span {
  display: inline-block;
  padding-left: 3rem;
  margin-bottom: 2rem;
  color: white;
}
.about-item span {
  display: inline-block;
  padding-left: 3rem;
  margin-bottom: 2rem;
  color: var(--yellow);
} */
.portfolio-about hr {
  width: 100%;
  background-color: #0000;
}
.about-backgd {
  display: block;
  position: relative;
  z-index: -10;
  width: 100%;
  min-height: 100vh;
}
.btm {
  display: inline-block;
  padding: 2rem;
  font-size: 1vw;
  border-radius: 50px;
  box-shadow: inset -12em 0 0 0em white;
  transition: 0.8s ease-in;
  margin: 2rem 3rem;
  border: none;
}

.btm:hover {
  color: white;
  display: block;
  position: relative;
  top: 0.5rem;
  box-shadow: inset 20em 0 0 0 var(--yellow);
  transition: 0.5s ease-in;
}

.home-btm img,
.btm img {
  display: inline-block;
  width: 55px;
  padding: 3px 3px 0px 18px;
  height: 30px;
  margin-bottom: -6px;
}
/* .about-item span {
  display: flex;
  padding-left: 3rem;
  margin-bottom: 2rem;
} */

/* education section */
.portfolio-edu {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.portfolio-edu_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem 0rem;
}
.portfolio-edu .tenth {
  width: 27rem;
  margin: 4rem 3rem;
  padding-left: 4rem;
  border-left: solid var(--yellow);
}
.portfolio-edu p {
  font-size: medium;
  display: block;
}
.tenth span {
  font-size: 16px;
  display: inline-block;
  padding: 10px;
  background-color: #f9ca24;
  border-radius: 50px;
  width: 50%;
  font-weight: 500;
  text-align: left;
}
.tenth h4 {
  font-size: 1.5vw;
  display: block;
  font-weight: 500;
  margin-top: 10px;
}
.tenth p {
  margin: 10px 0;
}
.tenth i {
  height: 5rem;
  width: 5rem;
  position: absolute;
  font-size: 22px;
  border-radius: 50%;
  background-color: var(--yellow);
  line-height: 5rem;
  text-align: center;
  transform: translate(-65px, 0px);
}

/* contact section */
.portfolio-contact {
  display: block;
  width: 100%;
  min-height: 100vh;
}
.contact-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10rem 0rem;
  padding: 5rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40%;
  justify-content: space-around;
}

.contact-info span {
  display: block;
  font-size: 1.2vw;
  padding: 1rem;
}
.contact-headingtitle {
  display: block;
  color: var(--yellow);
  font-size: 2vw !important;
}

.contact-form span {
  display: block;
  font-size: 2vw !important;
  margin: 3rem 0rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 45%;
  margin: 5rem;
}

.contact-form input,
textarea {
  display: block;
  padding: 1rem;
  margin: 1rem;
}
.comment {
  display: block;
  height: 10rem;
}
.icon {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--yellow);
  line-height: 5rem;
  text-align: center;
  transform: translate(3px, 0px);
  margin: 0 10px;
}
/* .social-get {
  position: fixed;
  top: 49vh;
  display: flex;
  right: 0px;
  width: 102px;
  border-radius: 50px 46px 60px 60px;
  height: 200px;
  border: 3px solid #73ad21;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
  padding: auto;
  background: blueviolet;
} */

.socialsite {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin: 4rem 0rem;
  grid-column: 1/1;
}
.socialsite > span {
  margin-right: 2rem;
  text-align: center;
  margin-left: 2rem;
  padding: 1rem;
  border: 0.1rem solid #eae9e7;
  border-radius: 4rem;
  cursor: pointer;
}
.socialsite-para {
  padding: 1rem;
  display: block;
  color: #00000059;
  font-size: 1.2rem;
}
.socialsite-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.socialsite-icon > a {
  width: 100px;
  display: block;
  height: 100px;
  padding: 1rem;
  cursor: pointer;
}
.socialsite-icon > a > img {
  width: 95%;
  display: block;
  height: 95%;
  padding: 0.5rem;
  cursor: pointer;
}
.icon > img {
  display: inline;
  width: 50px;
  height: 50px;
}
.hr1 {
  display: block;
  width: 40%;
  height: 2px;
  border-radius: 3px;
  border: none;
  margin: 5px 10px;
  background-color: white;
}
.hr2 {
  margin: 0 0px 20px 40px;
  display: block;
  width: 40%;
  height: 2px;
  border-radius: 3px;
  border: none;
  background-color: var(--yellow);
}

.Skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  margin: 50px auto;
  row-gap: 50px;
  min-height: 50vh;
}
.Skill > div {
  display: flex;
  padding: 0 20px;
  border-left: 2px solid #f9ca24;
  font-size: 30px;
  height: 100px;
  align-items: center;
}
.Skill > div i {
  height: 5rem;
  width: 5rem;
  position: absolute;
  border-radius: 50%;
  background-color: var(--yellow);
  line-height: 5rem;
  text-align: center;
  font-size: 18px;
  transform: translate(-45px, -45px);
}
.Skill > div img {
  object-fit: cover;
  border-radius: 15px;
}

ul {
  list-style: none;
  margin: 20px;
}
li {
  font-size: 18px;
}
ul > li::before {
  content: "\2022";
  color: #f9ca24;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 0em;
}

.linkpro {
  width: 100%;
}
.Project h1,
h3 {
  font-size: 30px;
  color: #f9ca24;
}
.linkpro p {
  margin: 10px 0px;
}
.linkpro img {
  width: 90%;
  object-fit: cover;
  border-radius: 15px;
  transition: ease-in 0.3s;
}
.linkpro img:hover {
  width: 95%;
  object-fit: cover;
}

.Project {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.Project > div {
  font-size: 20px;
}
.project-items > div h3 {
  margin: 10px 0px;
}
.project-items {
  gap: 50px;
  display: flex;
  margin: 20px 0px;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
